<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LyricSync App</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LyricSync.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="layout-wrapper">
        <button class="sidebar-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="sidebar collapse d-md-block" id="sidebarMenu">
            <a class="navbar-brand sidebar-brand" asp-area="" asp-controller="Home" asp-action="Index">LyricSync</a>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Account</a>
                </li>

                <br /> <br />
                <li class="nav-item">
                    <a class="btn btn-primary px-4" style="background: linear-gradient(90deg, #6200ea 0%, #2196f3 100%); border: none;"
                       href="/Identity/Account/Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
