@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lyrics";
}

<h1>Lyrics</h1>

<div class="lyrics-container">
    @if (Model != null && Model.Any())
    {
        foreach (var lyric in Model)
        {
            <div class="lyric-item mb-4 p-3 border rounded">
                <h3 class="lyric-title">@lyric.SongTitle</h3>
                <pre class=" lyric-text mt-2">@lyric.Content</pre>

            </div>
        }
    }
</div> 
    else 
    { 
        <p>No lyrics available. Please upload songs to see their lyrics here.</p> 
}