@{
    ViewData["Title"] = "Privacy Page";
}

<div class="container my-5">
    <section class="text-center mx-auto" style="max-width: 800px; line-height: 1.7;">
        <h2 class="fw-bold mb-4" style="color: #4a3aff;">Privacy</h2>

        <p>
            Your privacy is important to us. This application does not collect or store any personal data beyond what is necessary for user authentication and functionality.
        </p>

        <p>
            I don’t really ask information from the users - only names, email and a password. <br />
            This is because of the login featue.
            To ensure the safety of this little information I gather, is being used and stored safe. <br />
            I made this feature with the Microsoft Identity.
        </p>
    </section>
</div>
