@{
    ViewData["Title"] = "Upload Lyrics File";


}

<div class="container my-5">
    <section class="text-center mx-auto" style="max-width: 800px; line-height: 1.7;">
        <h2 class="fw-bold mb-4" style="color: #4a3aff;">Uploaden</h2>

        <h4> IT WORKS!!</h4>
    </section>
</div>


